@import 'assets/scss/variables';
@import 'assets/scss/mixins';

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: $main-white;
  font-family: "Inter", sans-serif;

  @include displayFlex(null, center, column);

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $main-link;
    cursor: pointer;
  }
}
