@import 'assets/scss/mixins';

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details {
  width: 100%;
  @include displayFlex(null, center, column);
}